<app-nav-menu></app-nav-menu>
<br><br>
<div class="container-fluid">
  <main>
    <div class="d-flex justify-content-between align-items-center pt-3 pb-2 mb-3 border-bottom">
      <h1 class="h2">Blogs</h1>
      <div class="btn-toolbar">
        <div class="btn-group me-2">
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Share
          </button>
          <button type="button" class="btn btn-sm btn-outline-secondary">
            Export
          </button>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar align-text-bottom" aria-hidden="true">
            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
            <line x1="16" y1="2" x2="16" y2="6"></line>
            <line x1="8" y1="2" x2="8" y2="6"></line>
            <line x1="3" y1="10" x2="21" y2="10"></line>
          </svg>
          This week
        </button>
      </div>
    </div>

    <br />

    <div class="collection-list d-flex flex-wrap">
      <div
        class="collection-card"
        *ngFor="let collection of results; let i = index"
        [ngClass]="{ 'selected-card': selectedCardIndex === i }"
        (click)="toggleCardSize(i)"
      >
        <img src="/assets/flash-cards.png" alt="" />
        <div class="collection-details">
          <a [routerLink]="['/collection', collection.id]">
            <h3>{{ collection.name }}</h3>
          </a>
          <div class="user-info">
            <span class="fa fa-user"></span>
            <span class="ms-1">{{ collection.userEmail?.split('@')?.at(0)! }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
