<footer class="footer">
  <div class="container">
    <div class="footer-nav">
      <ul>
        <li><strong>About Us</strong></li>
        <li><a href="#">About GeziBlog</a></li>
        <li><a href="#">Career</a></li>
        <li><a href="#">Advertise on GeziBlog</a></li>
        <li><a href="#">Download the App</a></li>
      </ul>
      <ul>
        <li><strong>For Travel Enthusiasts</strong></li>
        <li><a href="#">Discovery cards</a></li>
        <li><a href="#">Learn</a></li>
        <li><a href="#">Answers</a></li>
        <li><a href="#">GeziBlog Plus</a></li>
      </ul>
      <ul>
        <li><strong>For Travel Guides</strong></li>
        <li><a href="#">Live Tours</a></li>
        <li><a href="#">Evaluation</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">GeziBlog Plus for Guides</a></li>
      </ul>
    </div>
    <div class="logo-links-container">
      <div class="logo-container">
        <img src="https://media.licdn.com/dms/image/D4D22AQG7elyR0otg0g/feedshare-shrink_800/0/1690408616363?e=1694649600&v=beta&t=TTYLYyf2Jnmnt5HTBGgLyLRzxc7zDMlonhbEkO28IsE" alt="Logo">
      </div>
      <div class="footer-links">
        <a href="https://www.instagram.com/jokingsoft_official/">İnstegram</a>
        <a href="http://jokingsoftsoftware.com.tr/">http://jokingsoftsoftware.com.tr/</a>
      </div>
    </div>
  </div>
</footer>
